*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --primary-color: hsl(0, 100%, 40%);
    --secondary-color: hsl(0, 100%, 30%);
}

.header {
    background: linear-gradient(to right,
                var(--primary-color),
                var(--secondary-color));
    color: white;
    padding: 1rem;
    min-height: 80px;
    display: flex;
}

.header::before {
    content: '';
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 80px;
    background: linear-gradient(to right,
                                var(--primary-color),
                                var(--secondary-color));
    z-index: -1;
}

.header-wrapper {
    width: 100%;
    max-width: 70rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.news-search-input {
    background: hsla(0, 0%, 35%, 0.1);
    border: none;
    padding: 10px 12px;
    border-radius: 6px;
    width: 12rem;
    outline: none;
    color: white;
}

.news-search-input::placeholder {
    color:  rgba(255, 255, 255, 0.75);
}

.content {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 70rem;
    gap: 1.5rem;
}

.card {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.card-image-wrapper {
    height: 250px;
    overflow: hidden;
}

.card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: 0.3s ease;
}

.card-image-wrapper img:hover {
    transform: scale(1.1);
}

.card-content {
    padding: 0.8 rem;
}

.card-date, .card-description {
    color: hsla(0, 0%, 0%, 0.498);   
    font-size: 0.75rem;
}

.card-title a {
    color: hsl(0, 0%, 40%);
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-title a:hover {
    text-decoration: underline;
}

.card-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .content-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px){
    .content-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}

.message-text {
    color: white;
    height: 250px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
}